
/* Font */

html {
  font-family: 'Playfair Display', serif;
}

/* Globals */

h1 {
  @apply font-playfair text-2xl xl:text-[40px] font-bold leading-tight text-white;
}

h2 {
  @apply font-playfair text-[36px] font-semibold leading-snug text-white;
}

h3 {
  @apply font-playfair text-2xl font-semibold leading-snug text-white;
}

h4 {
  @apply font-playfair text-xl font-medium text-white;
}

h5 {
  @apply font-playfair text-lg font-medium text-white;
}

h6 {
  @apply font-playfair text-base font-medium text-white;
}

/* Párrafos */
p {
  @apply text-lg font-light leading-relaxed text-white;
}

body {
  background: linear-gradient(90deg, #27355A 33%, #0F182C 100%);
}


.bento-main {
  background: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0) 24%,  
    rgba(217, 217, 217, 0.1) 100%     
  );
  border-radius: 20px; 
}

.bento-sec {
  background: linear-gradient(
    to right,
    rgba(217, 217, 217, 0) 24%,  
    rgba(217, 217, 217, 0.05) 100%     
  );
  border-radius: 20px; 
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; 
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #FDBD84; 
  border-radius: 9999px; 
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #d9d9d97e; 
  border-radius: 9999px;
}

